h1{
	color:  white;
	-webkit-text-stroke: 1px black;
}
h4{
	color:  white;
}
hr{
	color:  white;
}
body{
	background:  darkslategray;
}
p{
	color:  white;
}
label{
	color: white;
}
th{
	color: white;
}
tr{
	color: white;
}
.dropdown-menu {
    width: 400px;
}
