{%extends 'base.html'%}

{% block title %}
  About page
{% endblock %}

{% block content %}
    <div class = "container">
      <br/>
      <h1>Random thoughts about the project</h1>
    </div>
    <br/>
    <div class = "container">
      <h4>Room for improvement and bugs</h4>
      <ul>
        <li><p>Search ui could be cleaner</p></li>
        <li><p>Usernames are not case sensitive, so there can be usernames like "test" and "Test"</p></li>
        <li><p>Timezone is wrong, can't figure out how to fix it</p></li>
        <li><p>Extremely long words in messages break the ui</p></li>
        <li><p>App structure could be more organised</p></li>
        <li><p>The ui could be more attractive visually</p></li>
      </ul>
      <br/>
      <h4>Features that could be added</h4>
      <ul>
        <li><p>Private messaging between users</p></li>
        <li><p>Ability to add images to messages</p></li>
        <li><p>Ability to report users, bugs etc. to admins</p></li>
        <li><p>Tags to threads for clarity and searching</p></li>
        <li><p>A user page where they can view their threads and messages</p></li>
      </ul>
    </div>
{% endblock %}