{%extends 'base.html'%}

{% block title %}
  About page
{% endblock %}

{% block content %}
    <div class = "container">
      <br/>
      <h1>Random thoughts about the course</h1>
    </div>
    <br/>
    <div class = "container">
      <h4>Room for improvement</h4>
      <ul>
        <li><p>Search ui could be cleaner</p></li>
        <li><p>Usernames are not case sensitive, so there can be usernames like "test" and "Test"</p></li>
        <li><p>Timezone is wrong, can't figure out how to fix it</p></li>
      </ul>
      <br/>
      <h4>Bugs</h4>
      <ul>
        <li><p>No search results when no user is logged in</p></li>
      </ul>
      <br/>
    </div>
{% endblock %}