{%extends 'base.html'%}

{% block title %}
  Appeals
{% endblock %}

{% block content %}
    <div class = "container">
      <br/>
      <h1>Appeals</h1>
    </div>
    <br/>
    <div class = "container">
      <ol class="list-group list-group-numbered">
        {% for appeal in appeals %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            {{ appeal.content }}
            <div class="fw-bold">{{ appeal.username }}</div>
          </div>
          <form action="/admin/appeals" method="POST">
            <input type="hidden" name="banned_user" value="{{ appeal.id }}">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <button type="submit" class="btn btn-success">Unban</button>
          </form>
        </li>
        {% endfor %}
      </ol>
      <br/>
    </div>
{% endblock %}