{% extends 'base.html' %}

{% block title %}Home page{% endblock %}
{% block content %}
    <div class = "container">
      <br/>
        <div class="row">
          <div class="col-10">
            {% if session.user_id %}
              <h1>{{ username }}</h1>
            {% else %}
              <h1>Hello world!</h1>
            {% endif %}
          </div>
          {% if error_statement %}
              <div class="alert alert-danger" role="alert">
                {{ error_statement }}
              </div>
            {% endif %}
        </div>
      <br/>
      {% for subsection in subsections %}
      <h4>{{ subsection.title }}</h4>
      <div class="list-group">
        {% for thread in list_of_threads %}
          {% if subsection.id == thread.thread_subsection_id %}
          <a href="{{ url_for('thread', id=thread.id) }}" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ thread.title }}</h5>
              <small class="text-muted">{{ thread.last_updated.strftime("%d.%m.%Y %H:%M:%S") }}</small>
            </div>
            <small class="text-muted">{{ thread.username }}</small>
          </a>
          {% endif %}
        {% endfor %}
        <br/>
        {% if session.user_id %}
        <form action="/submit" method="POST">
          <input type="hidden" name="subsection_id" value="{{ subsection.id }}">
          <button type="submit" class="btn btn-primary">New thread</button>
        </form>
        {% endif %}
        <br/>
      </div>
      <br/>
      {% endfor %}
    <br/>
{% endblock %}